{% extends "base.django.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block navbar %}{% endblock %}
{% block css %}

html, body, #index-wrapper {
   margin: 0;
   padding: 0;
   height: 100%; 
   width: 100%;
}

#index-wrapper {
    padding-top:10%;
}

{% endblock %}
{% block body %}
{% url 'choose_language' as choose_language %}
{% url 'request_create' as request_create %}
<div class="jumbotron" id="index-wrapper">
<div class="container">
    <h1>α⤨</h1>
    <h2>
    Enable refugees to communicate their needs.
    </h2>
    <p>
    ACROSS aims to match people who are able to speak Arabic, Farsi and other languages needed by refugees and/or volunteers concerning language issues, communication, translation etc.
    </p>
    <p>
        {% bootstrap_button "I am a language HELPER" button_type="submit" href=choose_language %}
        {% bootstrap_button "I need a language HELPER" button_type="submit" href=request_create %}
    </p>
</div>
</div>

{% endblock %}